<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="runMe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="runMe.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="runMe.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <runMe.Properties.Settings>
            <setting name="systemExecuteCommand" serializeAs="String">
                <value />
            </setting>
            <setting name="systemExecuteOnlyFirstLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="systemExecuteNewlineToSpaces" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="systemExecuteReplaceSpaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="systemExecuteSpaceReplaceString" serializeAs="String">
                <value />
            </setting>
        </runMe.Properties.Settings>
    </userSettings>
</configuration>